.modal-wrapper {
    width: 400px;
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.modal-wrapper .product {
    height: 96px;
    width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-wrapper .product .icon {
    height: 64px;
    width: 64px;
}