.head {
  display: flex;
  height: 60px;
  padding: 6px;
  box-sizing: border-box;
}
.head .left-col,
.right-col {
  display: flex;
  align-items: center;
}

.head .right-col {
  flex: auto;
  justify-content: flex-end;
  padding: 0 4px 0 32px;
}

.head .left-col .col-item .link {
  padding: 5px;
}

.head .left-col .col-item,
.right-col .col-item {
  display: flex;
  align-items: center;
}

.head .left-col .col-item:nth-child(1) {
  margin: 0 5px 0 15px;
}
.head .left-col .col-item:nth-child(2) {
  margin: 0 5px;
}

.head .right-col .col-item:nth-child(1) {
  padding-right: 15px;
}
.head .right-col .col-item:nth-child(1) .link,
.col-item:nth-child(2) .link {
  line-height: 24px;
}
.head .right-col .col-item:nth-child(2) {
  padding-right: 15px;
}
.head .right-col .col-item:nth-child(3) {
  padding: 4px;
}
.head .right-col .col-item:last-child {
  padding: 4px;
}
