body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}
.page {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.logo-container {
    display: flex;
    justify-content: center;
    max-height: 290px;
    height: calc(100% - 60px);
}

.logo-container .logo {
    max-height: 92px;
    margin-top: auto;
}

.page .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    height: 160px;
    max-height: 160px;
    box-sizing: border-box;
}

.search-container .button-container {
    display: flex;
    justify-content: center;
    padding-top: 18px;
    z-index: 0;
}

.submit-btn {
    margin: 11px 4px;
}

.extra-info-section {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}
.language-info {
    font-size: small;
}
